

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adds space below the filters */
}

.filters-container > * {
  margin-right: 20px; /* Adds space between Filters and Sort components */
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: flex-start; /* Stacks the filters vertically on smaller screens */
  }

  .filters-container > * {
    margin-right: 0;
    margin-bottom: 10px; /* Adds space between stacked items */
  }
}
